{{ partial "header" . }}
{{ partial "nav" . }}
<div class="page-center">
  <section class="section">
    <div class="container">
      {{- $pages := . -}}
      {{- if .IsHome -}}
      {{- $pages = .Site.RegularPages -}}
      {{- else -}}
      {{ $pages = .Pages -}}
      {{- end -}}
      {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
      {{ range sort .Paginator.Pages }}
      <article>
        <div class="subtitle tags is-6 is-pulled-right">
          {{ if .Params.tags }}
          {{ partial "tags" .Params.tags }}
          {{ end }}
        </div>
        <h1 class="title"><a href="{{ .RelPermalink }}">{{ .Title }}{{ partial "taxonomies_count" . }}</a>{{ if .Draft }} ::Draft{{ end }}</h1>
        <div class="content">
          {{ $summarySplits := split .RawContent "<!--start-summary-->" }}
          {{ if ge (len $summarySplits) 2 }}
              {{ index $summarySplits 1 | plainify | safeHTML | truncate 200 }}
          {{ else }}
              {{ .Summary| plainify | safeHTML | truncate 200 }}
          {{ end }}
          <a class="button is-link" href="{{ .RelPermalink }}" style="height:28px">
            Read more
          </a>
        </div>
      </article>
      {{ end }}
    </div>
  </section>
  {{ partial "pager" . }}
  {{ partial "footer" . }}
</div>
